doctype html
html(lang="en")
	head
		title= title
		include meta/theme
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		include header
		.site-wrap
			h1 Join FMP
			form#register(action="/register" method="post")
				label Username:
					input(
						type="text" 
						name="username" 
						placeholder="Wastelander"
						pattern="[A-Za-z_ ]{3,24}" 
						autocomplete="off"
						required)
				p.input-description.
					Username must be between 3-24 characters and be only A-Za-z.
				label Password:
					input(
						type="password" 
						name="password" 
						autocomplete="off"  
						pattern=".{8,}"
						placeholder="********" 
						required)
				p.input-description.
					Password must be 8 or more characters.
				label Confirm Password:
					input(
						type="password" 
						name="confirmPassword" 
						pattern=".{8,}" 
						autocomplete="off" 
						placeholder="********" 
						required)
				label Key:
					input(
						type="text" 
						name="key" 
						pattern=".{23}" 
						autocomplete="off" 
						placeholder="FMP-????-???-????-????" 
						required)
				p.error
				input(type="submit" value="Create Account")
		script(type="text/javascript").
			var submitting = false;
			$(document).ready(function() {
				console.log("Document ready")
					$("p.error").html(" ")
				
				$('form#register').on("submit", function(e){
					e.preventDefault();
					if (!submitting) {
						submitting = true;
						$('form#register input[type=submit]').css('opacity', 0.6)
						var formdata = $(this).serialize();
						$.ajax({
							url : '/register',
							type: 'POST',
							data:formdata,
							dataType:"html",
							contentType: "application/x-www-form-urlencoded; charset=UTF-8",
							success : function (response) {
								submitting = false;
								$('form#register input[type=submit]').css('opacity', 1.0)
								document.location.href="/";
							},
							error: function(xhr, resp, text) {
								submitting = false;
								$('form#register input[type=submit]').css('opacity', 1.0)
								if (text = "Unauthorized") {
									console.log("Account Creation Failed")
									$("p.error").html("Account Creation Failed")
								}
							}
						});
					}
				})
			});
